:root { 
--white_A700_b2:#ffffffb2; 
--black_900_b2:#000000b2; 
--red_600:#e93e30; 
--red_300:#d97356; 
--deep_orange_400_87:#ff665287; 
--red_53:#ffeee9; 
--red_400:#eb6553; 
--red_51:#ffede9; 
--red_52:#fff0ec; 
--gray_50:#f8f2ff; 
--red_50:#fff3f2; 
--black_900_87:#00000087; 
--white_A700_33:#ffffff33; 
--black_900:#000000; 
--black_901:#170600; 
--deep_orange_400_7f:#ff65517f; 
--deep_orange_400:#ff6652; 
--gray_700_99:#5d5a6f99; 
--yellow_100:#fff2ce; 
--gray_700:#5d5a6f; 
--gray_900_26:#0a033c26; 
--gray_900_00:#0a023c00; 
--indigo_50:#ebeaf4; 
--gray_900:#0a033c; 
--bluegray_100:#d9d9d9; 
--deep_orange_400_33:#ff665233; 
--black_900_0c:#0000000c; 
--gray_200:#ececec; 
--gray_300:#dedde4; 
--orange_200:#eebc74; 
--gray_100:#f7f7f7; 
--white_A700_87:#ffffff87; 
--bluegray_800:#3e4756; 
--black_900_cc:#000000cc; 
--cyan_50:#e5fff2; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}